//general styles

*,
h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    max-width: 2000px;
    margin: 0 auto;
}

img {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

i {
    font-size: 3rem;
}