@media (max-width: 960px) {

    header {
        margin-bottom: 100px;
    }

    .proContainer {
        margin-top: 0;
    }

    .leftSide {
    padding: 25px;
    }

    .projectContainer {
        .imgContainerOne {
            top: 50px;
            left: 39%;
            width: 400px;
        }
    }

    h2 {
        font-size: 5rem;
    }

    h4 {
        font-size: 4rem;
    }

    p {
        font-size: 1.1rem;
    }

    .rightSide {
        padding: 25px;
    }
    .aboutContainer {
        height: 750px;
    }
    .infoFlexContainer {
        width: 70%;
    }
    form {
        width: 60%;
    }
}

@media (max-width: 768px) {

    .mainSocialIcons {
        li {   
            padding: 5px;
            i {
                width: 40px;
                height: 40px;
                font-size: 1.25rem;
            }
        }
    }

    .circle6 {
        &::before {
            top: -128px;    
        }
    }
    .aboutFlex {
        flex-direction: column;
    }
    .rightSide {
        width: 90%;
    }
    .aboutContainer {
        height: 1000px;
        border-radius: 40% 40% 0 0;
    }
    .projectContainer {
        border-radius: 40% 40% 0 0;
        padding: 220px 0 150px 0;
        .imgContainer {
            width: 250px;
            height: 285px;
        }
        .imgContainerOne {
            top: 34px;
            left: 40%;
            width: 300px;
        }
        .skillsFlex {
        width: 90%;
        }
    }

    .backgroundImgContainer {
        height: 950px;
    }
    .skillContainer {
        width: 100%;
    }
    .circle4 {
        display: none;
    }
    .circle3 {
        width: 250px;
        height: 250px;
    }
    .circle8 {
        width: 150px;
        height: 150px;
    }
    .socialIcons {
       width: 60%;
    }
    form {
        width: 70%;
    }

}

@media (max-width: 500px) {

    h1 {
        font-size: 4.8rem;
    }
    h3 {
        font-size: 1.5rem;
        .typedText {
            box-shadow: none;
        }
    }
    .proContainer {
        h2 {
            padding: 0 0 130px 0;
        }
    }
    .aboutContainer {
        height: 940px;
        border-radius: 120px 120px 0 0;    
    }
    .leftSide {
        img {
            width: 245px;
        }
    }
    .rightSide {
        padding: 0;
    }
    .projectContainer {
        padding: 150px 0;
        border-radius: 120px 120px 0 0;
        .imgContainer {
            width: 175px;
            height: 175px;
        }
        .imgContainerOne {
            display:none;
        }
    }
    .backgroundImgContainer {
        height: 850px;
    }
    h4 {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
    h2 {
        font-size: 3rem;
    }
    .skillContainer {
        width: 100%;
        li {
            width: calc(100%/2);
            :first-child {
                padding-bottom: 10px;
            }
        }
        img {
            width: 48px;
            height: 58px;
        }
    }
    .infoFlexContainer {
        width: 88%;
        padding-top: 10px;
    }
    .skills {
        h2 {
            top: -80px;
        }
    }
    .links {
        a {
        &:first-child {
            &::after {
                left: -25px;
                }
            }
        }
    }
    .socialIcons {
        width: 90%;
    }
    .circle3 {
        width: 175px;
        height: 175px;
    }
    .circle5 {
        width: 275px;
        height: 275px;
    }
    p {
        font-size: 1rem;
    }
    form {
        width: 100%;
    }
}