//#EEEBE5 Sand
//#DCD9D2 Dark Sand
//#EBB861 Happy Yellow
//#262626 Dark Grey
//#CEE1ED Baby Blue
//#F1E3FF Baby Lilac CHANGED
//#FFFFFF White

$sand: #EEEBE5;
$darkSand: #DCD9D2;
$happyYellow: #EBB861;
$darkGrey: #262626;
$babyBlue: #CEE1ED;
$babyLilac:#EAD9FB;
$white: #FFFFFF